%header
  %a.logo{:href => "/"}
    %span LOG TRACKER

  %span.updated-date Last Updated At: 2013. 06. 12. 12:00:00

%div.main
  %div.inner.clearfix
    %nav.sidebar
      %ul{:class => "#{params[:environment]}"}
        %li.production
          %a{:href => "production"}
          %p.number-of-logs= Log.where(:environment => "production").count
        %li.staging
          %a{:href => "staging"}
          %p.number-of-logs= Log.where(:environment => "staging").count
    %article.content
      %nav.clearfix       
        = haml :_paginate        
        - unless params.nil?
          %ul.search-result
            %li
              %span= @logs.count
              %span Logs Found
        %ul.sub-navigation.clearfix
          %li
            %a{:href => "#"} OPEN
          %li
            %a{:href => "#"} CLOSED
          %li                   
            %label(for="pull-down-point")
              %span
                %span
      %input{:type => "checkbox", :id => "pull-down-point"}
      %div.pull-down-navigation
        %p SERACH CONDITION
        %ul.clearfix
          - ["backtrace", "status_code", "timestamp"].each do |search_style|          
            %li
              %span.sub-title #{search_style}
              %form{:action => "/#{params[:environment]}", :method => "post"}
                - if search_style == "timestamp"
                  %input.basic-insert-text{:type => "text", :name => "date_from", :placeholder => "DATE"}
                  %span.icon-arrow
                  %input.basic-insert-text{:type => "text", :name => "date_to", :placeholder => "DATE"}                  
                - else
                  %input.basic-insert-text{:type => "text", :name => "#{search_style}", :placeholder => "placeholder"}                
                %input.type-submit{:type => "submit", :value => "GO", :id => "submit-button-#{search_style}"}
                %label.basic-button{:for => "submit-button-#{search_style}"} GO

      %div.inner
        - @logs.each do |log|
          %div
            = (log.github_issued != nil) ? "<div class=\"github-issued\"></div>" : ""
            %p.entry-title= log.entry.match(/Completed.*/)
            %p.entry-timestamp= log.timestamp
            %input{:type => "checkbox", :name => "checkbox",  :id => "entry-checkbox#{log.id}"}
            %pre.entry= (log.error_status == 500) ? log.entry.match(/Completed.*/m) : log.entry
            %form.checkbox{:action => "/checked", :method => "post"}
              %label{:for => "entry-checkbox#{log.id}"}
                %span
              %span
            %form.issue{:action => "/issue", :method => "post"}
              %input.basic-insert-text{:type => "text", :name => "title", :placeholder => "Title here"}
              %textarea.basic-insert-text.wide{:name => "comment", :placeholder => "Comment"}
              %input.basic-insert-text{:type => "hidden", :name => "body", :value => "#{escape_html(log.entry)}"}
              %input.basic-insert-text{:type => "hidden", :name => "id", :value => "#{log.id}"}
              %input.submit{:type => "submit", :value => "Post an Issue", :id => "post-issue#{log.id}"}
              %label.basic-button{:for => "post-issue#{log.id}"} Issue on Github
        = haml :_paginate
        
