%header
  %a.logo{:href => "/"}
    %span LOG TRACKER
    - unless params[:environment].nil?
      %span.location ::#{params[:environment].upcase}      
    - else
      - unless params[:status_code].nil?
        %span.location ::Search::#{params[:status_code]}        
      - unless params[:backtrace].nil?
        %span.location ::Search::#{params[:backtrace]}
      - unless params[:date_to].nil? && params[:data_from].nil?
        %span.location ::Search::#{params[:date_from]}-#{params[:date_to]}

  %span.updated-date Last Updated At: 2013. 06. 12. 12:00:00

%div.main
  %div.inner.clearfix
    %nav.sidebar
      %ul{:class => "#{params[:environment]}"}
        %li.production
          %a{:href => "production"}
          %p.number-of-logs= Log.where(:environment => "production").count
        %li.staging
          %a{:href => "staging"}
          %p.number-of-logs= Log.where(:environment => "staging").count
    %article.content
      %nav.clearfix
        %ul.pagination.clearfix
          - 3.times do
            %li
              %a{:href => "#"} 1          
        %ul.sub-navigation.clearfix        
          %li
            %a{:href => "#"} OPEN
          %li
            %a{:href => "#"} CLOSED
          %li                   
            %label(for="pull-down-point")
              %span
                %span
      %input(type="checkbox" id="pull-down-point")
      %div.pull-down-navigation
        %p SERACH CONDITION
        %ul.clearfix
          %li
            %span.sub-title Backtrace
            %form(action="/search" method="post")
              %input.basic-insert-text(type="text" name="backtrace" placeholder="placeholder")
              %input.type-submit(type="submit" value="GO" id="submit-button-backtrace")
              %label.basic-button(for="submit-button-backtrace") GO
          %li
            %span.sub-title Status Code
            %form(action="/search" method="post")
              %input.basic-insert-text(type="text" name="status_code" placeholder="placeholder")
              %input.type-submit(type="submit" value="GO" id="submit-button-status")
              %label.basic-button(for="submit-button-status") GO
          %li
            %span.sub-title Timestamp
            %form(action="/search" method="post")
              %input.basic-insert-text(type="text" name="date_from" placeholder="DATE")
              %span.icon-arrow
              %input.basic-insert-text(type="text" name="date_to" placeholder="DATE")
              %input.type-submit(type="submit" value="GO" id="submit-button-date")
              %label.basic-button(for="submit-button-date") GO
      %div.inner
        - @result.logs.each do |log|
          %div
            %div.github-issued
            %p.timestamp= log.timestamp
            %pre.entry= log.entry
            %input(type="checkbox" name="checkbox" id="entry-checkbox#{log.id}")
            %form.checkbox(action="/checked" method="post")              
              %label(for="entry-checkbox#{log.id}")
                %span
              %span
            %form.issue(action="/issue" method="post")
              %input.basic-insert-text(type="text" name="title" placeholder="Title here")
              %input.basic-insert-text(type="text" name="body" value="#{log.entry}" class="hidden")
              %input.basic-insert-text(type="text" name="id" value="#{log.id}" class="hidden")
              %input.submit(type="submit" value="Post an Issue" id="post-issue")
              %label.basic-button(for="post-issue") Issue on Github
        %ul.pagination.clearfix
          - 3.times do
            %li
              %a{:href => "#"} 1          
        / = paginate @result
    